[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
networkx = "*"
pyvis = "*"
jupyter = "*"
awscli = "*"
pandas = "*"
matplotlib = "*"
altair = "*"
vega = "*"
